<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Trabalho de Conclusão de Curso</title>
  <link rel="stylesheet" href="https://unpkg.com/carbon-components@latest/css/carbon-components.css" />
  <!-- <link rel="stylesheet" href="track.css"> -->
  <link rel="stylesheet" href={{url_for('static',filename='track.css')}}>
</head>

<body class="bx--body p20">
  <!-- <img id="img" src="hand.jpg"/>  -->
  <div class="p20">
    <p>Instituto Federal da Paraíba - Campus João Pessoa</p>
    <p>Trabalho de Conclusão de Curso</p>
    <p>Título: Manipulação Remota de Braço Robótico por Meio de Processamento de Imagens</p>
    <p>Autor: Júlio Cézar Coêlho Barbosa Torquato</p>
    <p>Orientador: Prof. Dr. Patric Lacouth da Silva</p>
  </div>
  <div class="mb10">
    <button onclick="toggleVideo()" id="trackbutton" class="bx--btn bx--btn--secondary" type="button">
      Ligar a câmera
    </button>
  </div>
  <div class = "mb10">
    <div id="updatenote" class="updatenote mt10"> Carregando modelo de processamento de imagens</div>
    <div id="updatestatus" class="updatenote mt10"> Braço Desligado</div>
  </div>

 
  
  <video class="videobox canvasbox" autoplay="autoplay" id="myvideo"></video>

  <canvas id="canvas" class="border canvasbox"></canvas>

  <div id="main_img">
    <p>Streaming de Vídeo</p>
    <img id="img" src="">
  </div>

  <script src="https://unpkg.com/carbon-components@latest/scripts/carbon-components.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/handtrackjs@0.0.13/dist/handtrack.min.js"> </script>
  <!-- <script src="track.js></script> -->
  <script src={{url_for('static',filename='track.js')}}></script> -->
</body>

</html>
